/*---------------------
	General Styles
----------------------*/
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/georgiaregular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/georgiaregular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/georgiaregular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/georgiaregular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/georgiaregular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/georgiaregular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;       
}

body {   
	font-family: Georgia, serif;	
}

header, section, footer, aside, nav, main, article, figure {
	display: block; 
}

ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #878787;
}
img {
	max-width: 100%;
	height: auto;
}
.more {
	float: right;
	font-size: 13px;
	color: #ba2e1f;
	cursor: pointer;
}
.more:hover {
	color: #f22009;
}
.angle-quot {
	vertical-align: 1px;
}
.coloring {
	color: #b92d1f;
}

/*---------------------
	Header
----------------------*/
header {
	background-color: #ba2e1f;
	width: 100%;	
}
.header-innerwrapper {
	max-width: 1000px;	
	margin: 0 auto;
	padding: 0 2%;
}
.header-section {	
	padding: 1.3% 0;			
}
.hamburger {
	display: none;
	font-size: 25px;
	color: #a3a789;
}
.header-section ul li {
	display: inline-block;
	border-right: 1px solid #fff;
	padding: 0 3px;
	line-height: 12px;	
}
.header-section ul li:last-child {
	border: none;
}
.header-section ul li a {
	font-size: 12px;
	color: #fff;
	margin-right: 3px;
	line-height: 0;	
}
.header-section ul li a:hover {
	color: #eded23;
}
.search {
	float: right;
	position: relative;
	width: 44%;
}
.search input[type="text"] {
	width: 100%;		
	padding: 1.5% 12% 1% 4%;
	border: none;
	outline: none;
	border-radius: 13px;
}
.search input[type="image"] {	
	position: absolute;
	z-index: 200;
	right: 1.4%;
	top: 12%;
	width: 18px;
	height: 18px;
}

/*---------------------
	Systematic
----------------------*/
.systematic {
	background-color: #fff;
	width: 100%;
}
.systematic-innerwrapper {
	max-width: 1000px;
	height: 134px;
	margin: 0 auto;
	padding: 0 20px;
}
.systematic-section {
	width: 480px;
	height: 134px;
	float: left;
}
.logo {
	margin: 46px 0;
}
.logo-title {
	margin-bottom: 6px;
	font-size: 36px;
	font-weight: 500;
}
.logo-title::first-letter {
	font-size: 45px;
}
.socials {
	float: right;
	margin: 61px 2px;
}
.socials a {
	cursor: default;	
}
.icon {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	padding: 9px 0;
	text-align: center;
	margin-left: 5px;
	font-size: 14px;
	color: #fff;
	background-color: #1f1f1f;
	cursor: pointer;	
}
.socials a i:hover {
	position: relative;
	top: -2px;
}
.socials a.ld_icon i:hover {
	background-color: #0e76a8;	
}
.socials a.tw_icon i:hover {
	background-color: #00acee;
}
.socials a.p_icon i:hover {
	background-color: #c8232c; 
}
.socials a.gp_icon i:hover {
	background-color: #db4a39;
}
.socials a.rss_icon i:hover {
	background-color: #ee802f;
}

/*---------------------
	Navigation
----------------------*/
.navigation {
	background-color: #fff;
	width: 100%;
}
.navigation-innerwrapper {
	max-width: 1000px;
	height: 40px;
	margin: 0 auto;
	padding: 0 20px;	
}
nav {
	background-color: #333;
	border-radius: 5px;
	text-align: center;
	padding-left: 28px;		 
}
nav .menu-bar {
	display: none;
}

nav ul li {
	display: inline-block;
	padding: 10px 0;	
}
nav ul li a {
	font-size: 12px;
	color: #e9e8e3;
	text-transform: uppercase;
	margin-right: 26px;
	font-weight: bold;	
}
nav ul li a:hover {
	color: #ba2e1f;
}

/*---------------------
	Intro
----------------------*/
.intro {
	background-color: #fff;
	width: 100%;
}
.intro-innerwrapper {
	max-width: 1000px;
	height: 465px;
	margin: 0 auto;
	padding: 0 20px;
}
.intro-section {
	height: 465px;
	float: left;
}
.banner-wrapper {
	width: 420px;
}
.banner {
	margin-top: 25px;
}
.banner img {
	width: 400px;
	height: 440px;
}
.intro-contentwrapper {
	width: 540px;
}
.intro-content {
	margin: 125px 14px;	
}
.intro-content .more {	
	font-size: 16px;
	margin: 26px 0;
}
.intro-contenttitle {
	font-size: 86px;
	line-height: 105px;
	color: #000;
	text-transform: uppercase;
}
.intro-contenttext {
	font-size: 16px;
	color: #666;
}

/*---------------------
	Content
----------------------*/
.content {
	background-color: #f2f2f2;
	width: 100%;
}
.content-innerwrapper {
	max-width: 1000px;
	height: 553px;
	margin: 0 auto;
	padding: 0 20px;
}
.content-section {
	width: 300px;
	height: 553px;
	float: left;
	margin-left: 20px;
	font-size: 13px;
	color: #878787;
	text-align: justify;
}
.content-sectiontitle {
	margin: 45px 0;
	font-size: 26px;
	color: #333;
	font-weight: 400;
}
.about img {
	width: 290px;
	height: 140px;
	padding: 4px;
	border: 1px solid #dfdfdf;
}
.about p:not(:first-child) {
	margin: 25px 0;	
}
.about .more {
	float: right;	
}
.service-section {
	margin-bottom: 30px;
}
.service-section img {
	width: 64px;
	height: 64px;
	margin-right: 13px;
}
.service-sectiontext {
	width: 260px;
	height: 64px;	
	margin-left: 18px;
}
.service-sectiontext p a {
	font-size: 14px;	
}
.service-sectiontext p a:hover {
	color: #c58c8c;
}
.service-section img, .service-section .service-section-text {
	float: left;
}
.services span {
	margin-top: 5px;
}
.testimonials-section {
	margin-bottom: 41px;
	padding: 10px 0;
}
.testimonials-section .client {
	font-size: 16px;
}
.client span {
	font-size: 150px;
	vertical-align: -82px;
	color: #d4d4d4;
}

/*---------------------
	Info
----------------------*/
.info {
	background-color: #fff;
	width: 100%;
}
.info-innerwrapper {
	max-width: 1000px;
	height: 399px;
	margin: 0 auto;
	padding: 0 20px;
}
.info-section {
	width: 210px;
	height: 369px;
	float: left;
	border-top: 1px solid #666;
	margin: 30px 0 20px 30px;
}
.info-section:first-child {
	margin-left: 0;
}
.info-sectiontitle {
	margin: 21px 0 33px;
	font-size: 16px;
	color: #666;
	text-transform: uppercase;
}
.ind-tweet {
	margin-bottom: 30px;
}
ul.links li {
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 6px;
}
ul.links li a:hover {
	color: #dc8484;
}
.blog-section {
	margin-bottom: 35px;
}
.blog-section * {
	line-height: 15px;
}
.post-title {
	font-size: 14px;
	color: #666;
}
.post-text {
	margin: 12px 0;	
}
.contact-form * {
	width: 230px;
	height: 32px;
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 13px;
	display: block;
	background-color: #f2f2f2;
	color: #989898;
	border-radius: 5px;
	border: none;
	outline: none;
}

.contact-form textarea {
	font-family: Georgia, serif;
	width: 230px;
	padding-top: 5px;
	height: 110px;
	resize: none;
}
.contact-form input[type="submit"] {
	width: 80px;
	height: 31px;
	color: #ba2e1f;	
	padding: 0 15px;
	cursor: pointer;
}

/*---------------------
	Footer
----------------------*/
footer {
	background-color: #f2f2f2;
	width: 100%;
}
.footer-innerwrapper {
	max-width: 1000px;
	height: 65px;
	margin: 0 auto;
	padding: 0 20px;
}
.copyright {
	float: left;
}
.author {
	float: right;
	margin-right: 30px;	
}

/*----MEDIA QUERIES----*/

.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;    
}
/* For 867-1000 */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* For  867px and less*/
@media only screen and (max-width: 867px) {
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}

.hamburger {
	display: inline-block;
	cursor: pointer;	
	margin: 0;	
}
.header-section ul li {
	padding-top: 5px;
	border: none;
}
.registration-wrapper > ul {
	display: none;
	position: absolute;
	z-index: 1000;
	width: 400px;
	top: 9px;
	left: 34px;
	width: 90px;
	background-color: grey;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}
.registration-wrapper {	
	width:22px;	
}
.registration-wrapper:hover > ul {
	display: block;
}

.logo-text {
	display: none;	
}
.logo-title {
	position: absolute;
	top: 13px;
	right: 20px;
}
.search {
	position: absolute;
	top: 60px;
	left: 0px;		
}
.search input[type="text"] {
	background-color: #c75656;
	width: 222.3%;
}
.search input[type="image"] {
	right: -121%;
	top: 15%;
}
.socials {
	position: absolute;
	width: 100%;	
	left: 0;
	text-align: center;
}

nav ul li a {
	display: none;
}
nav .menu-bar {	
	float: right;
	margin-right: 6px;
	display: block;	
}
.socials a i:hover {	
	top: 0;
}

}






